#smalltime-app .window-header {
  display: none;
}

#smalltime-app .window-header > .window-title {
   display: none;
}

#smalltime-app .window-header > .header-button {
   display: none;
}

#smalltime-app .window-content {
  background: #444;
  border-radius: 5px;
  padding: 0;
}

#smalltime-app .form-group {
  margin: 0;
  padding: 0;
  position: relative;
  top: -2px;
}

#smalltime-app .slidecontainer {
  width: 100%; /* Width of the outside container */
}

#smalltime-app .slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 26px;
  width: 100%;
  background: #000; 
  border-color: transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: transparent;
  box-shadow: none;
}
			
#smalltime-app .slider::-webkit-slider-thumb {
	-webkit-appearance: none;	
  width: 23px;
  height: 23px;
  outline: 0;
  border: 0;
  cursor: ew-resize;
  background: url('../images/sun.webp');
  background-size: 24px;
  position: relative;
  top: 5px;
  overflow: hidden;
  box-shadow: none;
  -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.9));
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.9));
}

#smalltime-app .slider::-moz-range-thumb {

}

#smalltime-app .range-value {
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}