#smalltime-app {
  flex-wrap: nowrap;
}

#smalltime-app .window-header {
  display: none;
}

#smalltime-app .window-header > .window-title {
  display: none;
}

#smalltime-app .window-header > .header-button {
  display: none;
}

#smalltime-app .window-content {
  background: #444;
  border-radius: 5px;
  padding: 0;
}

#smalltime-app .form-group {
  margin: 0;
  padding: 0;
  position: relative;
  top: -2px;
}

#smalltime-app .slidecontainer {
  width: 100%;
}

#smalltime-app #timeSlider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 29px;
  width: 100%;
  background: #f77b30; 
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 7px solid rgba(255, 255, 255, 0.2);
  border-right: 0;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
}
			
#smalltime-app .sunSlider::-webkit-slider-thumb {
	-webkit-appearance: none;	
  width: 22px;
  height: 22px;
  outline: 0;
  border: 0;
  cursor: ew-resize;
  background: url('../images/sun.webp');
  background-size: 21px;
  position: relative;
  top: 4px;
  overflow: hidden;
  box-shadow: none;
  -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.9));
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.9));
}

#smalltime-app .moonSlider::-webkit-slider-thumb {
	-webkit-appearance: none;	
  width: 22px;
  height: 22px;
  outline: 0;
  border: 0;
  cursor: ew-resize;
  background: url('../images/moon.webp');
  background-size: 21px;
  position: relative;
  top: 4px;
  overflow: hidden;
  box-shadow: none;
  -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.9));
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.9));
}

#smalltime-app #timeSlider::-moz-range-thumb {

}

#smalltime-app #timeDisplay {
  color: #ddd;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  position: relative;
  top: 2px;
  text-align: center;
  width: auto;
}

#smalltime-app #dragHandle {
  flex: none;
  height: 20px;
}