<form class="flexcol">
  <div class="form-group">
    <div class="slidecontainer">
      <input
        id="timeSlider"
        class="slider sun"
        type="range"
        min="0"
        max="1410"
        step="30"
        value="{{timeValue}}"
        name="timeSlider"
      />
      <div id="displayContainer">
        <div id="decrease" class="arrow arrow-left fas fa-angle-left"></div>
        <div id="timeDisplay">{{timeString}}</div>
        <div id="increase" class="arrow arrow-right fas fa-angle-right"></div>
      </div>
    </div>
  </div>
  <div id="dragHandle"></div>
</form>
