<form class="flexcol">
  <div id="slideContainer">
    <input id="timeSlider" class="slider sun"
      type="range" min="0" max="1440" step="30" value="{{timeValue}}"
      name="timeSlider"/>
    <div class="darkness-select"></div>
  </div>
  <div id="displayContainer">
    <div id="decrease-large" class="arrow arrow-left fas fa-angle-double-left"></div>
    <div id="decrease-small" class="arrow arrow-left fas fa-angle-left"></div>
    <div id="timeDisplay">
      <span id="hourString">{{hourString}}</span>
      <span class="timeSeparator">:</span>
      <span id="minuteString">{{minuteString}}</span>
      <span id="secondsSpan">
        <span class="timeSeparator">:</span>
        <span id="secondString"></span>
      </span>
    </div>
    <div id="increase-small" class="arrow arrow-right fas fa-angle-right"></div>
    <div id="increase-large" class="arrow arrow-right fas fa-angle-double-right"></div>
  </div>
  <div id="dateDisplay">{{dateString}}</div>
  <div id="dragHandle"></div>
</form>