:root {
  --opacity: 0.8;
  --height: 58px;
  --ds-left: 3px;
  --ds-width: 0px;
  --phaseURL: url('../images/moon-phases/full.webp');
}

#smalltime-app {
  flex-wrap: nowrap;
  background: none;
  height: var(--height);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
  opacity: var(--opacity);
  animation: fadeOut 3s ease-out;
  transition: opacity 1s;
  transition-delay: 2s;
}

#smalltime-app:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

#smalltime-app .window-header {
  display: none;
}

#smalltime-app .window-content {
  border-radius: 5px;
  padding: 0;
  background: none;
}

#smalltime-app .darkness-select {
  visibility: hidden;
  position: absolute;
  top: 4px;
  left: var(--ds-left);
  width: var(--ds-width);
  height: 16px;
  border-radius: 3px;
  border: 1px solid purple;
  background: linear-gradient(
    to right,
    rgba(36, 6, 104, 0.724) 0%,
    rgba(255, 255, 255, 0.4)
  );
  z-index: 5;
}

#smalltime-app #slideContainer {
  width: 100%;
  background: linear-gradient(
    to bottom,
    #000000 3%,
    #351984 15%,
    #db5a23 25%,
    #d19621 30%,
    #25c5ed 40%,
    #25c5ed 60%,
    #d19621 70%,
    #db5a23 75%,
    #351984 85%,
    #000000 97%
  );
  background-size: 200px 450px;
  background-position: 0px 0px;
  z-index: 0;
}

#smalltime-app .slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 31px;
  width: 100%;
  background-color: transparent;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
}

#smalltime-app .slider::-moz-range-track {
  -webkit-appearance: none;
  height: 31px;
  width: 100%;
  background-color: transparent;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
}

#smalltime-app .sun::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  outline: 0;
  border: 0;
  cursor: ew-resize;
  background: url('../images/sun.webp');
  background-size: 24px;
  position: relative;
  top: 9px;
  box-shadow: none;
  -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 203, 93, 0.9));
  filter: drop-shadow(0px 0px 8px rgba(255, 203, 93, 0.9));
  z-index: 10;
}

#smalltime-app .sun::-moz-range-thumb {
  width: 24px;
  height: 24px;
  outline: 0;
  border: 0;
  cursor: ew-resize;
  background: url('../images/sun.webp');
  background-size: 24px;
  background-position: 0px 3px;
  transform: translateY(-1px);
  box-shadow: none;
  filter: drop-shadow(0px 0px 8px rgba(255, 203, 93, 0.9));
  z-index: 10;
}

#smalltime-app .moon::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  outline: 0;
  border: 0;
  cursor: ew-resize;
  background: var(--phaseURL);
  background-size: 17px;
  position: relative;
  top: 13px;
  box-shadow: none;
  -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.9));
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.9));
  z-index: 10;
}

#smalltime-app .moon::-moz-range-thumb {
  width: 17px;
  height: 17px;
  outline: 0;
  border: 0;
  cursor: ew-resize;
  background: var(--phaseURL);
  background-size: 17px;
  background-position: 0px 0px;
  transform: translateY(2px);
  box-shadow: none;
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.9));
  z-index: 10;
}

#smalltime-app #displayContainer {
  position: absolute;
  top: 24px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 4px 0 4px;
  border: 0;
  outline: 0;
  width: 100%;
  background: #444;
  height: 24px;
  text-align: center;
  box-shadow: inset 0 6px 8px -6px rgba(0, 0, 0, 0.6),
    inset 0 -5px 8px -5px rgba(0, 0, 0, 0.5);
}

#smalltime-app .arrow,
.arrow-left,
.arrow-right {
  width: auto;
  cursor: pointer;
  color: #efefe0;
  font-size: 1.2em;
  padding-top: 0px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
  background: linear-gradient(
    180deg,
    #505050 0%,
    #434343 50%,
    #3e3e3e 51%,
    #434343 100%
  );
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.1),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #434343;
  border-width: 1px 1px 1px 1px;
  border-radius: 3px;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.7);
}

#smalltime-app .arrow-left {
  padding-right: 8px;
  margin-right: 4px;
}

#smalltime-app .arrow-right {
  padding-left: 8px;
  margin-left: 4px;
}

#smalltime-app .arrow:hover {
  border: 1px solid rgba(100, 100, 100, 0.2);
}

#smalltime-app .arrow:active {
  position: relative;
  top: 1px;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.1),
    0px 0px 2px rgba(0, 0, 0, 0.2);
}

#smalltime-app #timeDisplay,
#dateDisplay {
  font-size: 1em;
  color: #efefe0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding-top: 4px;
  text-align: center;
  background: none;
  width: 100%;
}

#smalltime-app #dateDisplay {
  visibility: hidden;
  position: absolute;
  top: 48px;
  font-size: 0.9em;
  margin: 0;
  padding: 3px 0px 2px 0px;
  border: 0;
  background: #444;
  height: auto;
  box-shadow: inset 0 6px 8px -6px rgba(0, 0, 0, 0.6),
    inset 0 -5px 8px -5px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-out;
  transform: scaleY(0);
  transform-origin: top;
}

#smalltime-app #dateDisplay.active {
  //display: block;
  visibility: visible;
  transform: scaleY(1);
  transition: transform 0.1s ease-out;
}

#smalltime-app #dragHandle {
  background: url(/ui/denim-dark-090.png) repeat;
  background-blend-mode: screen;
  background-color: rgba(0, 0, 0, 1);
}

#smalltime-config-icon {
  flex: 0 1 auto;
  float: left;
  margin-left: auto;
  margin-right: 7px;
  position: relative;
  top: -1px;
  border: none;
  width: 20px;
  height: 20px;
}

#smalltime-app .disable-for-players {
  pointer-events: none;
}

#smalltime-app .hide-for-players {
  visibility: hidden;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    opacity: var(--opacity);
  }
}

@keyframes jiggle {
  0% {
    transform: rotate(-0.5deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(1deg);
    animation-timing-function: ease-out;
  }
}
